<!-- OVERLAY -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 p-3 sm:p-6">
  <!-- MODAL -->
  <div class="w-full max-w-2xl bg-white rounded-xl shadow-xl">

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="flex flex-col gap-6 p-4 sm:p-6">

      <!-- ================= TITLE ================= -->

      <label class="text-center text-sm sm:text-base text-taupe-700 font-medium">
        Ajouter vos dates de service
      </label>

      <hr>

      <!-- ================= NAME ================= -->

      <div class="w-full">

        <label class="block text-sm font-medium mb-1">
          Nom
        </label>

        <mat-form-field class="w-full">
          <mat-label>Select</mat-label>
          <mat-select formControlName="name">
            <mat-option selected></mat-option>
            @for(person of personNames(); track person){
              <mat-option [value]="person">{{person}}</mat-option>
            }
          </mat-select>
        </mat-form-field>



        @if(form.controls.name.touched && form.controls.name.invalid) {
          @if(form.controls.name.hasError('required')) {
            <p class="text-red-600 text-xs mt-1">
              Le nom est obligatoire.
            </p>
          }
          @if(form.controls.name.hasError('minlength')) {
            <p class="text-red-600 text-xs mt-1">
              Au moins 3 caractères.
            </p>
          }
        }
      </div>

      <!-- ================= DATE + ADD ================= -->

      <div class="flex flex-col sm:flex-row gap-3 sm:items-center">

        <mat-form-field class="w-full sm:flex-1">

          <mat-label>Date</mat-label>

          <input
              matInput
              [matDatepickerFilter]="dateFilter"
              [matDatepicker]="picker"
              formControlName="date">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>

        <!-- ADD BUTTON -->

        <button
          type="button"
          (click)="addDate()"
          class="w-full sm:w-14 sm:h-14 h-12 rounded bg-taupe-500 text-white text-xl hover:bg-taupe-700 transition
          cursor-pointer"
          [disabled]="form.controls.date.touched &&
          form.controls.date.errors?.['notSunday']"
        >
          +
        </button>

      </div>
      @if(form.controls.date.hasError('outOfRange')) {

        <p class="text-red-600 text-xs mt-1">
          La date doit être comprise entre
          le 05/07/2026 et le 27/09/2026.
        </p>

      }
        @if(form.controls.date.touched &&
            form.controls.date.errors?.['notSunday']) {

          <p class="text-red-500 text-sm mt-1">
            Seuls les dimanches sont autorisés.
          </p>
        }

      <!-- ================= DATES ================= -->

      <div>

        @if(selectedDates().length > 0) {<h2 class="text-center text-sm sm:text-base font-bold mb-3">
            Dates sélectionnées
        </h2>}

        <div class="space-y-2">
          @for(date of selectedDates(); track date; let i = $index){

            <!-- CARD DATE -->
            <div class="flex flex-col sm:flex-row items-stretch sm:items-center gap-2">

              <!-- DATE DISPLAY -->
              <div class="flex-1 border rounded-lg bg-white px-2 py-3 text-sm text-center sm:text-left">

                  {{ date | date:'dd/MM/yyyy' }}

              </div>

              <!-- DELETE BUTTON -->
              <button
                mat-mini-fab
                aria-label="supprimer cette date"
                (click)="removeDate(i)">
                <mat-icon>close</mat-icon>
              </button>

            </div>

          }

        </div>

      </div>

      <!-- ================= ACTIONS ================= -->

      <div class="flex flex-col sm:flex-row justify-end gap-3 mt-6 text-sm">

        <button
          type="button"
          (click)="cancel()"
          class="w-full cursor-pointer sm:w-auto border rounded-lg px-4 py-2"
        >
          Cancel
        </button>

        <button
          type="submit"
          [disabled]="form.controls.name.invalid || selectedDates().length === 0"
          class="w-full cursor-pointer sm:w-auto bg-green-600 text-white px-4 py-2 rounded-lg text-sm disabled:bg-gray-400"
        >
          Submit
        </button>

      </div>
    </form>

  </div>

</div>

